@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is Mini URL project.</h1>
    <h4 class="display-4">There are APIs which converts normal URL to short hand URL.</h4>
</div>
